<nz-page-header>
  <nz-page-header-title>
    <span nz-icon nzType="appstore" nzTheme="outline"></span>
    <span style="margin: 0 0.5em">Servicios</span>
  </nz-page-header-title>
  <nz-page-header-subtitle>Lista de servicios asignados</nz-page-header-subtitle>
  <nz-page-header-extra>
    <div
      nz-flex
      [nzVertical]="false"
      nzJustify="end"
      nzAlign="center"
      nzGap="small"
    >
      <app-control-exportacion-servicio ngSkipHydration />
    </div>
  </nz-page-header-extra>
</nz-page-header>
<div class="panel">
  <app-tabla-pag-detalles-servicios
    ngSkipHydration
    #tablaServicios
    [scroll]="{ x: '1000px', y: '400px' }"
  />
</div>
<ng-container #vcrModal></ng-container>
